{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Register{% endblock %}

{% block body_content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <main class="form-signin">
                <h2 class="h3 mb-3 fw-normal text-center">Please register</h2>
                <p class="text-center">Using WTForms. Learning how to style.</p>
                <form method="POST" action="{{ url_for('auth.register') }}">
                    <div class="mb-3">
                        {{ form.csrf_token }}
                        <label class="form-label">Name</label>
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        {{ form.email(class="form-control") }}
                        {% for err in form.email.errors %}
                            <span class="text-danger">{{ err }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Password</label>
                        {{ form.password1(class="form-control") }}
                        {% for err in form.password1.errors %}
                            <span class="text-danger">{{ err }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Confirm Password</label>
                        {{ form.password2(class="form-control") }}
                        {% for err in form.password2.errors %}
                            <span class="text-danger">{{ err }}</span>
                        {% endfor %}
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock %}
