{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Welcome{% endblock%}

{% block body_content %}
<div class="container">
    {% if is_follow: %}
        <h1 align="center">Welcome to your Blog Feed! </h1>
        <p align="center">Here you can follow your friends' posts and share your thoughts.</p>
    {% else: %}
        <h1 align="center">Explore the Blog</h1>
        <p align="center">You can find new friends and topics to discuss.</p>
    {% endif %}
</div>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <!-- Post preview-->

      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('views.show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a class="user_popup" :w
             href="{{ url_for('views.myprofile', name=post.author.name) }}">{{post.author.name}}</a>
          on {{post.date}}
          <!-- Only show delete button if user is the author) -->
          {% if is_follow and post.author_id == current_user.id %}
          <a href="{{url_for('views.delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

<!--       New Post-->
<!--       Only show Create Post button if user is logged in-->
      {% if is_follow: %}
      <div class="d-flex justify-content-end mb-4">
        <a href="{{url_for('views.add_new_post')}}" class="btn btn-primary float-right">Create New Post</a>
      </div>
      {% else: %}
      {% endif %}

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
              <nav aria-label="Post navigation">
        <ul class="pagination">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
              <span aria-hidden="true">&larr;</span>Newer posts
            </a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
              Older posts <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}