{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Post{% endblock %}

{% block body_content %}

<!-- Page Header-->
<div class="container">
<header class="masthead" style="background-image: url('{{post.img_url}}');  background-size: cover; background-position: center;">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <a href="{{ url_for('views.show_post', post_id=post.id) }}"></a>
        </div>
        <div class="card-footer text-muted">
          <span class="meta"
            >Posted by
<!--            Changed from post.author-->
            <a class="user_popup" :w
                href="{{ url_for('views.myprofile', name=post.author.name) }}">{{ post.author.name }}</a>
            on {{ post.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
</div>
<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        <!--Only show Edit Post button if user is logged in -->
        {% if current_user.is_authenticated and post.author_id == current_user.id %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('views.edit_post', post_id=post.id)}}"
            >Edit Post</a
          >
        </div>
        {% endif %}
        <br>
        <!-- Comments Area -->
{{ form.hidden_tag() }}
{{ ckeditor.load() }}
{{ ckeditor.config(name='comment_text') }}
{{ render_form(form) }}

<div class="comment">
    <ul class="commentList">
        {% for comment in post.comments %}
        <li class="commentItem">
            <div class="commentHeader">
                <img src="{{ comment.comment_author.avatar(36) }}" />
            </div>
            <div class="commentContent">
                <div class="authorInfo">
                    <a class="user_popup" :w
                        href="{{ url_for('views.myprofile', name=comment.comment_author.name) }}">
                        <span class="authorName">{{ comment.comment_author.name }}</span>
                    </a>
                    {% if comment.comment_author.email == current_user.email %}
                    <a href="{{ url_for('views.delete_comment', comment_id=comment.id, post_id=post.id) }}" class="deleteCommentBtn">✘</a>
                    {% endif %}
                </div>
                <div class="commentText">{{ comment.text|safe }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


      </div>
    </div>
  </div>
</article>
{% endblock %}