<table class="table table-hover">
    <tr>
    <td width="36px">
            <ul class="list-group list-group-flush">
                {% for note in current_user.notes %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ note.data }}</span>
                        <!-- Add a delete option -->
                        <form method="POST" action="{{ url_for('views.delete_note', note_id=note.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-outline-primary">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
    </td>
    </tr>
</table>