<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ bootstrap.load_css() }}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="#" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-smile-upside-down-fill" viewBox="0 0 16 16" style="color: #6c757d;">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5M4.285 6.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M10 8c-.552 0-1 .672-1 1.5s.448 1.5 1 1.5 1-.672 1-1.5S10.552 8 10 8"/>
          </svg>
        </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('views.home') }}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{{ url_for('views.explore') }}" class="nav-link px-2">Explore</a></li>

          {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('views.myprofile', name=current_user.name) }}" class="nav-link px-2">My Profile</a></li>
        <li><a href="{{ url_for('views.blog_all_posts') }}" class="nav-link px-2">Feed</a></li>

                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="get"
                        action="{{ url_for('views.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
        <li><a href="{{ url_for('views.messages') }}" class="nav-link px-2">Messages
         {% set unread_message_count = current_user.unread_message_count() %}
                <span id="message_count" class="badge text-bg-danger"
                      style="visibility: {% if unread_message_count %}visible
                                         {% else %}hidden{% endif %};">
                    {{ unread_message_count }}
                </span>
        </a></li>

          {% endif %}
      </ul>
     <div class="col-md-3 text-end">
         <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-primary me-2">Logout</a>
         {% else %}
         <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary me-2">Login</a>
         <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a>
         {% endif %}
     </div>
    </header>
</div>
<!--Flash messages-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %} {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
            </button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>
{% block body_content %}

<div class="container">

</div>

{% endblock %}
{{ bootstrap.load_js() }}
{{ moment.include_moment() }}
<!--Adding JS for popup-->
<script>
     function initialize_popovers() {
        const popups = document.getElementsByClassName('user_popup');
        for (let i = 0; i < popups.length; i++) {
          const popover = new bootstrap.Popover(popups[i], {
            content: 'Loading...',
            trigger: 'hover focus',
            placement: 'right',
            html: true,
            sanitize: false,
            delay: {show: 500, hide: 0},
            container: popups[i],
            customClass: 'd-inline',
          });
          popups[i].addEventListener('show.bs.popover', async (ev) => {
            if (ev.target.popupLoaded) {
              return;
            }
            const response = await fetch('/profile/' + ev.target.innerText.trim() + '/popup');
            const data = await response.text();
            const popover = bootstrap.Popover.getInstance(ev.target);
            if (popover && data) {
              ev.target.popupLoaded = true;
              popover.setContent({'.popover-body': data});
              flask_moment_render_all();
            }
          });
        }
      }
      document.addEventListener('DOMContentLoaded', initialize_popovers);

       function set_message_count(n) {
        const count = document.getElementById('message_count');
        count.innerText = n;
        count.style.visibility = n ? 'visible' : 'hidden';
      }

     {% if current_user.is_authenticated %}
      function initialize_notifications() {
        let since = 0;
        setInterval(async function() {
          const response = await fetch('{{ url_for('views.notifications') }}?since=' + since);
          const notifications = await response.json();
          for (let i = 0; i < notifications.length; i++) {
            if (notifications[i].name == 'unread_message_count')
              set_message_count(notifications[i].data);
            since = notifications[i].timestamp;
          }
        }, 10000);
      }
      document.addEventListener('DOMContentLoaded', initialize_notifications);
      {% endif %}


</script>
</body>
</html>