{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Login{% endblock %}

{% block body_content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <main class="form-signin">
                <h2 class="h3 mb-3 fw-normal text-center">Please Sign in</h2>
                <p class="text-center">Using bootstrap-WTForms. Learning how to style.</p>
                    {{ render_form(form, button_style='btn btn-outline-primary w-100 btn btn-lg') }}
            </main>
        </div>
    </div>
</div>

{% endblock %}
