{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}My Profile{% endblock%}

{% block body_content %}
<div class="container">
    <table>
        <td><img src="{{ current_user.avatar(128) }}"></td>
        <h1 align="center">Hello {{ current_user.name }}</h1>
        <p>Lorem ipsum dolor sit amet,labore minima perspiciat</p>
    </table>    
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h1 align="çenter">My Profile</h1>
               <p>Name: {{ current_user.name }}</p>
                <p>Email: {{ current_user.email }}</p>
            {% if current_user.is_authenticated %}
                <p> <a href="{{ url_for('auth.edit_profile') }}" class="btn btn-primary"> Edit Your Profile</a> </p>
                <p> <a href="{{ url_for('auth.change_password') }}" class="btn btn-primary"> Change Your Password</a> </p>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h1 align="center">Notes</h1>
                <ul class="list-group list-group-flush">
                {% for note in current_user.notes %}
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                   <span>{{ note.data }}</span>
<!-- Add a delete option -->
                <form method="POST" action="{{ url_for('views.delete_note', note_id=note.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form></li>
                        {% endfor %}
                </ul>
            {{ render_form(form) }}
        </div>
         <div class="col-4">
            <h1 align="çenter">My Posts & Comments</h1>
            {% if current_user.is_authenticated %}
                {% for post in posts %}
                <table>
                    <tr valign="top">
                        <td><img src="{{ current_user.avatar(36) }}"></td>
                        <div><td>Post:{{ post.author.name }} says: <b>{{ post.title }}</b></td></div>
                    </tr>
                </table>
                {% endfor %}
             {% for comment in comments %}
                 <table>
                    <tr valign="top">
                        <td><img src="{{ current_user.avatar(36) }}"></td>
                        <div><td>Comments:{{ comment.comment_author.name }} says: <b>{{ comment.text | safe }}</b></td></div>
                    </tr>
                 </table>
             {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}