{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}My Profile{% endblock%}

{% block body_content %}
<div class="container marketing">
    {% if current_user.is_authenticated and current_user.id == user.id %}
     <h1 align="center" class="fw-normal">Hello {{ current_user.name }}</h1>
     <br>
    {% else %}
     <h1 align="center" class="fw-normal">Your are viewing {{ user.name }}'s profile</h1>
     <br>
      {% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16" style="color: #0d6efd;">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
            <a href="#mp" class="btn btn-secondary fw-normal">Profile</a>
        </div>
        <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16" style="color: #0d6efd;">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
            </svg>
            <a href="#pc" class="btn btn-secondary fw-normal">Posts&Comments</a>
        </div>
        {% if current_user.is_authenticated and current_user.id == user.id %}
        <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16" style="color: #0d6efd;">
                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
            </svg>
            <a href="#notes" class="btn btn-secondary fw-normal">My Notes</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1" id="mp">Profile</h2>
            <p class="lead">Name: {{ user.name }}</p>
            <p class="lead">Email: {{ user.email }}</p>
            {% if user.about_me %}<p class="lead">{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p class="lead">Last seen on: {{ user.last_seen }}</p> {% endif %}
            <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>
            {% if user == current_user %}
                <p> <a href="{{ url_for('auth.edit_profile') }}" class="btn btn-primary"> Edit Your Profile</a> </p>
                <p> <a href="{{ url_for('auth.change_password') }}" class="btn btn-outline-primary"> Change Your Password</a> </p>

            {% elif not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('views.follow', name=user.name) }}" method="post">
                {{ followform.hidden_tag() }}
                {{ followform.submit(value="Follow") }}
                </form>
            </p>
            {% else %}
            <p>
                <form action="{{ url_for('views.unfollow', name=user.name) }}" method="post">
                {{ followform.hidden_tag() }}
                {{ followform.submit(value="Unfollow") }}
                </form>
            </p>
            {% endif %}
        </div>



        <div class="col-md-5">
            <img src="{{ user.avatar(128) }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="150" height="150" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" alt="My profile avatar">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1" id="pc">Posts & Comments</h2>
                {% for post in posts %}
                       {% include '_post.html' %}
                {% endfor %}
                {% for comment in comments %}
                        {% include '_comments.html'  %}
                {% endfor %}
        </div>
        <div class="col-md-5 order-md-1">
            <!-- Content for the second column -->
        </div>
    </div>

    <hr class="featurette-divider">
{% if current_user.is_authenticated and current_user.id == user.id %}
    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1" id="notes">My Notes</h2>
            {% include '_notes.html' %}
                {{ render_form(form) }}
        </div>
    </div>
    <hr class="featurette-divider">
    {% endif %}
    <footer class="container">
        <p class="float-end">
            <a href="#">Back to top</a>
        </p>
    </footer>
  </div>
</div>
{% endblock %}
